<section class="main_article">
    <div class="mbox">
        <div class="img_wrap">
            <img src="images/img.png" alt="img">
        </div>
        <div class="text_wrap">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat, veritatis! Ipsam, est corporis. Repellendus, laudantium. Commodi impedit laboriosam autem aspernatur consequatur? Eligendi hic consectetur accusamus, at totam aliquam iste unde.</p>
            <br>
            <p><span style="color: #0093d0">Lorem, ipsum dolor sit</span> amet consectetur adipisicing elit. Id debitis doloribus consequatur perferendis, a eveniet cupiditate quibusdam eos facilis ea aperiam expedita illo beatae neque consectetur repellat quas reiciendis explicabo.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores nobis exercitationem quia incidunt in? Inventore, ea earum? Sint omnis esse facere autem eos. Saepe laboriosam dolor architecto facilis veritatis dolorum!</p>
            <br>
            <ol>
                <li>
                        С каким из приведенных ниже утверждений Вы больше всего согласны?
                    <ul>
                        <li>большинство из членов нашего коллектива – хорошие, симпатичные мне люди</li>
                        <li>в нашем коллективе есть всякие люди</li>
                        <li>меня многое не устраивает </li>
                    </ul>
                </li>
                <li>Вам нравится работать в нашем коллективе?
                    <ul>
                        <li>да, меня все устраивает</li>
                        <li>не знаю, не задумывался над этим</li>
                        <li>меня многое не устраивает </li>
                    </ul>
                </li>
            </ol>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto sit ea rem molestiae est deleniti velit culpa odit libero minus quidem omnis tenetur rerum iste exercitationem labore explicabo, voluptatibus qui!</p>
        </div>
    </div>
</section>