<section class="section_form">
    <div class="bg_shadow"></div>
    <div class="mbox">
        <div class="form_wrap">
            <form action="ajax-programer.php" class="contact-form">
                <div class="contact-form-title">
                    <h2>Оставьте свои контакты, и мы свяжемся с Вами</h2>
                </div>
                <div class="contact-form-row cfix">
                    <div class="contact-form-item">
                        <div class="contact-form-item-input form_row">
                            <div class="form_input">
                                <input type="text" name="contact_name" required="required" value="" placeholder="Имя">
                            </div>
                        </div>
                    </div>
                    <div class="contact-form-item">
                        <div class="contact-form-item-input form_row">
                            <div class="form_input">
                                <input type="text" name="contact_last_name" required="required" value="" placeholder="фамилия">
                            </div>
                        </div>
                    </div>
                    <div class="contact-form-item">
                        <div class="contact-form-item-input form_row">
                            <div class="form_input">
                                <input type="text" name="contact_tel" value="" required="required" placeholder="телефон" class="tel-mask">
                                <input type="hidden" name="page" value="Заказ звонка">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact-form-row cfix">
                    <div class="contact-form-item form_button">
                        <button type="submit" class="button contact-submit">
                            <span>заказать звонок</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>